[Desktop Entry]
Type=Application
Name=rigdeck
GenericName=Hardware Control
Comment=Control your AIO cooler, lighting and more
Exec=rigdeck-gui
Icon=io.github.rigdeck.RigDeck
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=cooler;aio;fan;pump;rgb;lcd;gpu;aorus;waterforce;
StartupNotify=true
